@import url(./css-reset/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    font-family: "Nunito", system-ui;
}
body{
    display: grid;
    grid-template-rows: 8rem 1fr 3rem;
    height: 100dvh;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.heading-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#nav-icon{
    width: 32px;
}

#add-icon{
    width: 18px;
}

/*
#add-icon:hover{
    cursor:pointer;
    fill: rgb(59, 59, 152);
    transition: 0.8s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);

}
*/

h1{
    font-size: 1.8rem;
    font-weight: 600;
}

h2{
    font-size: 1.4rem;
    font-weight: 500;
}

h3{
    font-size: 1.1rem;
}

button{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:5px;
    cursor: pointer;

}



.books-container{
    display: grid;
    grid-template-columns:repeat(4,300px);
    gap: 2rem;
    padding: 5rem;
    align-items: center;
    justify-content: center;
}

.book-card{
    display: flex;
    flex-direction: column;
    border:solid black;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.book-options{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.popup-container {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}
.show {
    display: flex;
    opacity: 1;
}

#popup-box {
    /* border: solid 0.125rem black; */

    padding: 1rem;
    /*background-color: beige;*/
}

.dialog-actions-container{
    display: flex;
    gap: 1rem;
    align-self: flex-end;
}

.btn{
    cursor: pointer;
    border: 0;
    padding:8px;
}

fieldset{
    display: flex;
    flex-direction: column;
    border:  solid black;
    padding: 1.8rem;
    justify-content: center;
    gap: 2rem;
}

input[type="number"]{
    width: 25%;
}

input[type="checkbox"]{
  width: 1.2rem;
  height: 1.2rem;
  accent-color: rgb(62, 65, 62);
}

.input-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


